<!DOCTYPE html>
<html>
<head>
  <title>Gramcrackr</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <% if params[:controller] == 'welcome' %>
    <%= stylesheet_link_tag 'welcome', media: 'all' %>
  <% else %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  <% end %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

    <% if notice %>
      <div class="alert alert-success">
        <%= notice %>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <center>
          <div class='profile_pic'><%= image_tag(current_user.image) %></div>
          <h1><%= current_user.name %></h1>
          <%= link_to 'Log Out', logout_path %>
          <br>
          <br>
          <%= link_to 'See local photos!', local_path %>
          <br>
          <br>
          Search for photos by tag:
          <br>
          <br>
          <%= form_tag('/welcome') %>
          <%= text_field_tag :searchterm %>
          <br>
          <br>
          <%= submit_tag "Search"%>
        </center>
      </div>


      <%= yield %>

</body>
</html>
