<!DOCTYPE html>
<html>
<head>
  <title>Gramcrackr</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <% if params[:controller] == 'welcome' %>
    <%= stylesheet_link_tag 'welcome', media: 'all' %>
  <% else %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  <% end %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

    <% if notice %>
      <div class="alert alert-success">
        <%= notice %>
      </div>
    <% end %>


    <% if params[:controller] != 'welcome' %>
    <div class="row">

      <div class="col-xs-12 col-sm-3">
        <center>
          <div class='nav-logo'><a href="/users"><%= image_tag('gram-logo-outline1.png') %></a></div>
          <div class='profile_pic'><%= image_tag(current_user.image) %></div>
          <div class="row">
            <%= form_tag('/search', class: 'form-inline') %>
            <%= text_field_tag :searchterm, nil, class:'form-control' %>
            <br>
            <br>
            <%= submit_tag "Search", class: 'btn btn-info' %>
            <br>
            <br>
            <%= link_to 'Log Out', logout_path, class: 'btn btn-info' %>
          </div>
        </center>
      </div>

      <% end %>


      <%= yield %>

</body>
</html>
