<!DOCTYPE html>
<html>
<head>
  <title>Gramcrackr</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<<<<<<< HEAD

=======
>>>>>>> 29641b45d07ecd7c7c607b3cb544c428463b53e0
    <% if notice %>
      <div class="alert alert-success">
        <%= notice %>
      </div>
    <% end %>

      <%= yield %>

<<<<<<< HEAD

=======
>>>>>>> 29641b45d07ecd7c7c607b3cb544c428463b53e0
</body>
</html>
